#! /usr/bin/env nextflow

nextflow.enable.dsl=2

// Parameters for the nextflow pipeline
params {
  sequences = "data/sequences.fasta"
  metadata = "data/metadata.tsv"
  exclude = "config/dropped_strains.txt"
  reference = "config/zika_outgroup.gb"   // maybe call this outgroup?
  colors = "config/colors.tsv"            // by clade I suppose...
  lat_longs = "config/lat_longs.tsv"
  auspice_config = "config/auspice_config.json"

  outdir = "results"

  // link any executables
  docker_img = 'nextstrain/base'
  augur_app = "augur"

  threads = 4
  queueSize = 10
  clusterOptions = false
}

// Environment variables, passed everywhere
env {
    augur_app = params.augur_app ? "${params.augur_app}" : "augur"
}

// Pick a profile  -profile "aws"
profiles {
//  local { }
//  conda {} // https://github.com/nextstrain/ncov/blob/master/workflow/envs/nextstrain.yaml
  slurm { includeConfig 'configs/slurm.config' }
//  pbs   { includeConfig 'configs/pbs.config' }
//  aws   { includeConfig 'configs/aws.config'}
//  docker {
//    docker.enabled = true
//    docker.runOptions = '-u \$(id -u):\$(id -g)'
//  }
//  singularity {
//    singularity.enabled = true
//    singularity.autoMounts = true
//  }
//  custom { includeConfig 'configs/custom.config' }

// test {} // pull a test dataset, and run nextflow
}

process.container = "$params.docker_img"

timeline {
  enabled = true
  file = "$params.outdir/timeline.html"
}

report {
  enabled = true
  file = "$params.outdir/report.html"
}
