#! /usr/bin/env nextflow

nextflow.enable.dsl=2

// Parameters for the nextflow pipeline
params {
  sequences = false
  metadata = false
  exclude = false
  reference = false
  colors = false
  lat_longs = false
  auspice_config = false

  // augur subcommand params
  filter_args="--group-by country year month --sequences-per-group 20 --min-date 2012"
  align_args="--fill-gaps"
  tree_args=""
  refine_args="--timetree --coalescent opt --date-confidence --date-inference marginal --clock-filter-iqd 4"
  ancestral_args="--inference joint"
  traits_args="--columns region country --confidence"

  outdir = "results"

  // link any executables
  docker_img = 'nextstrain/base'
  augur_app = "augur"

  threads = 4
  queueSize = 10
  clusterOptions = false
}

// Environment variables, passed everywhere
env {
    augur_app = params.augur_app ? "${params.augur_app}" : "augur"
}

// Set compute environment profiles: https://www.nextflow.io/docs/edge/config.html#config-profiles
profiles {
  standard {
    includeConfig 'configs/custom.config'
  }
//  local {  }
//  conda { process.conda = 'https://github.com/nextstrain/ncov/blob/master/workflow/envs/nextstrain.yaml' }
  slurm {
    includeConfig 'configs/custom.config'
    includeConfig 'configs/slurm.config'
  }
//  pbs   { includeConfig 'configs/pbs.config' }
//  aws   { includeConfig 'configs/aws.config'}
//  docker {
//    docker.enabled = true
//    docker.runOptions = '-u \$(id -u):\$(id -g)'
//  }
//  docker_m1 {
//    docker.enabled = true
//    docker.runOptions = '-u \$(id -u):\$(id -g) --platform linux/amd64'
//  }
//  singularity {
//    singularity.enabled = true
//    singularity.autoMounts = true
//  }
//  custom { includeConfig 'configs/custom.config' }

// test {} // pull a test dataset, and run nextflow
}

process.container = "$params.docker_img"

timeline {
  enabled = true
  file = "$params.outdir/timeline.html"
}

report {
  enabled = true
  file = "$params.outdir/report.html"
}
