process {
  withName:index { 
    publishDir = [path: "$params.outdir/01_Index", mode: 'copy']
  }
  withName:filter { 
    publishDir = [path: "$params.outdir/02_Filter", mode: 'copy']
  }
  withName:align {
    publishDir = [path: "$params.outdir/03_Align", mode: 'copy']
  }
  withName:tree { 
    publishDir = [path: "$params.outdir/04_Tree", mode: 'copy']
  }
  withName:refine { 
    publishDir = [path: "$params.outdir/05_Refine", mode: 'copy']
  }
  withName:ancestral {
    publishDir = [path: "$params.outdir/06_Ancestral", mode: 'copy']
  }
  withName:translate { 
    publishDir = [path: "$params.outdir/07_Translate", mode: 'copy']
  }
  withName:traits {
    publishDir = [path: "$params.outdir/08_Traits", mode: 'copy']
  }
  withName:export { 
    publishDir = [path: "$params.outdir", mode: 'copy']
  }
}
